/* @media (max-width: 991px) { */

.p {
    margin-top: 10px;
}

.parent {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.btn2 {
    border-radius: 20px;
    background: #FFF !important;
    margin: auto;
    width: 180px;
    height: 60px;
    border: 2px solid #fff;
}

.btn {
    border-radius: 20px;
    background: linear-gradient(180deg, #3FABFF 100%, #222 100%);
    width: 180px;
    height: 60px;
    color: #FFF;
    border: 2px solid #3FABFF;
}

.center {
    background: linear-gradient(180deg, #3FABFF 100%, #222 100%);
    border-radius: var(--br-11xl);
    color: #FFF;
    text-align: center;
    width: 80%;
   
    height: 400px;

}

.side {
    margin-top: 10px;
    /* height: 460px; */
    width: 80%;
}

.card2 {
    background: linear-gradient(180deg, #3FABFF 100%, #222 100%);
    border-radius: var(--br-11xl);
    color: #FFF;
    text-align: center;
    margin-top: 40px;
    transition: 0.3s;
    height: 500px;
}

.p {
    text-align: center;
    margin: auto;
}

.card1 {
    text-align: center;
    margin-top: 40px;
    height: 475px;
    transition: 0.3s;
    border-radius: 30px;
}
.card2:hover,.card1:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    border-radius: 30px;
  }
.image {
    margin: auto;
}

.webcontainer {
    margin-top: 30px;
}

@media (max-width:991px) {
    .card1 {
        /* margin-top: 50px !important; */
    }

    .webcontainer {
        margin-top: 30px;
        font-size: 20px;
    }

    .p {
        font-size: 15px !important;
    }

    .btn {
        height: 50px;
    }

    .btn2 {
        height: 50px;

    }
    .logonDesign{
        font-size: 15px !important;
      }
      .webcontainer{
        font-size: 20px;
      }
}

.vectorIcon2,
.vectorIcon3 {
    top: 29.64%;
    bottom: 69.98%;
}

.vectorIcon3 {
    top: 30.4%;
    bottom: 69.23%;
}

/* } */

.center2 {
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.side2 {
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);

}